<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'lg'">
  <h3 class="modal-title">Configure Cluster</h3>
  <div class="modal-body">
    <div class="card">

      <clr-alert [clrAlertClosable]="false" class="configure-content">
        <clr-alert-item>
          <span class="alert-text">
            We can only connect to 1 cluster at a time. <br>
            Provide a cluster name and at least one node to create the cluster.
          </span>
        </clr-alert-item>
      </clr-alert>

      <form clrForm class="configure-content">

        <div class="clr-form-control clr-row">
          <label class="clr-control-label clr-col-2 clr-col-md-2">Cluster Name</label>
          <div class="clr-control-container clr-col-3 clr-col-md-3">
            <div class="clr-input-wrapper">
              <input type="text" #cluster name="cluster" [value]="clusterName"  placeholder="Eg: dsqlite" class="clr-input">
            </div>
          </div>
          <button type="button" class="btn btn-success btn-sm"
                  aria-label="Save cluster name"
                  (click)="saveClusterName(cluster.value)">
            <clr-icon shape="check"></clr-icon> SAVE
          </button>
        </div>

        <hr class="divider">

        <div class="clr-row">
          <div class="clr-col-3">
            <clr-input-container>
              <label>IP</label>
              <input clrInput type="text" name="ipInput" #ipInput placeholder="Enter host IP address"/>
            </clr-input-container>
          </div>
          <div class="clr-col-4">
            <clr-input-container class="port-input-label">
              <label>Port</label>
              <input clrInput type="text" name="portInput" #portInput placeholder="Enter port number"/>
            </clr-input-container>
          </div>
          <div class="clr-col-3">
            <button type="button" class="btn btn-success btn-sm add-host-button"
                    aria-label="Add Host To Cluster"
                    (click)="addHostToCluster(ipInput.value, portInput.value)">
              <clr-icon shape="plus"></clr-icon> ADD HOST TO CLUSTER
            </button>
          </div>
          <div class="clr-col-1">
            <button class="btn btn-sm btn-primary add-host-button" (click)="ipInput.value = ''; portInput.value = ''">CLEAR</button>
          </div>
        </div>

        <clr-alert [(clrAlertClosed)]="!showAddHostResponse" [clrAlertClosable]="true" [clrAlertType]="'danger'" class="error-alert">
          <clr-alert-item>
          <span class="alert-text">{{addClusterError}}</span>
          </clr-alert-item>
        </clr-alert>

        <clr-datagrid class="host-table">
          <clr-dg-column>Host IP</clr-dg-column>
          <clr-dg-column>Port Number</clr-dg-column>
          <clr-dg-column>Actions</clr-dg-column>

          <clr-dg-row *ngFor="let host of hosts">
            <clr-dg-cell>{{host.ip}} <span *ngIf="host.isLeader" class="badge badge-warning leader-badge">Leader</span></clr-dg-cell>
            <clr-dg-cell>{{host.port}}</clr-dg-cell>
            <clr-dg-cell>
              <button type="button" class="btn btn-icon btn-link btn-sm action-btn" title="Remove from cluster"
                      (click)="removeFromCluster(host)">
                <clr-icon shape="trash" class="is-solid is-danger"></clr-icon>
              </button>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{hosts.length}} hosts</clr-dg-footer>
        </clr-datagrid>

      </form>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">CLOSE</button>
  </div>
</clr-modal>
