.configure-content {
  margin: 10px;
}

.add-host-button{
  margin-top: 20px;
}

.host-table {
  min-height: 200px;
  width: 100%
}

.divider {
  margin-top: 40px;
  margin-bottom: 10px;
}

.error-alert {
  margin-top: 20px;
}

.leader-badge{
  margin-left: 20px;
}

.port-input-label{
  margin-left: 10px;
}

.action-btn {
  margin-bottom: -10px;
  margin-top: -10px;
}

