.sql-query-block{
  margin-right: 12px;
  height: 40%
}

.sql-text-area {
  margin-top: 10px;
}

.fill-parent {
  width: 100%;
  height: 100%;
}
.divider {
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.sql-response-block {
  margin-top: 30px;
}

.sql-response-data {
  height: 400px;
}

.sql-response-placeholder {
  height: 300px;
}

.placeholder-image {
  color: hsl(48, 100%, 89%);
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.refresh-btn {
  margin-left: 10px;
}

.clr-nav-label {
  margin-left: 10px;
}

.clr-nav-header {
  margin-left: 20px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.leader-badge{
  margin-left: 10px;
}
