<clr-main-container>
  <app-header (configureCluster)="configureModel.openConfigureModal()"></app-header>

  <div class="content-container">

    <div class="content-area">
      <div>
        <span><b>SQL QUERY</b></span>

        <div class="card sql-query-block">
          <div class="card-block">
            <form class="clr-form fill-parent">
              <div class="clr-control-container fill-parent">
                <textarea placeholder="Enter SQL statement here."
                          class="clr-textarea fill-parent sql-text-area"
                          name="sqlQuery" id="sqlQuery"
                          [(ngModel)]=sqlQuery>
                </textarea>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-success" [disabled]="sqlQuery == ''" (click)="executeSqlQuery()">EXECUTE QUERY</button>
            <button class="btn btn-sm btn-primary" (click)="sqlQuery = ''">CLEAR</button>
          </div>
        </div>

        <hr class="divider">

        <div class="sql-response-block">
          <span><b>RESPONSE</b></span>

          <div class="card sql-response-placeholder" *ngIf="showPlaceholder">
            <clr-icon shape="data-cluster" class="placeholder-image" size="200"></clr-icon>
          </div>

          <clr-alert [clrAlertClosed]="!showUpdateResponse" [clrAlertType]="'success'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">{{updateResponse}}</span>
            </clr-alert-item>
          </clr-alert>

          <clr-alert [clrAlertClosed]="!showErrorResponse" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">{{errorMessage}}</span>
            </clr-alert-item>
          </clr-alert>

          <clr-datagrid  *ngIf="showReadResponse" class="sql-response-data">
            <clr-dg-column *ngFor="let col of readResponse?.columns">{{col | uppercase}}</clr-dg-column>

            <clr-dg-row *ngFor="let row of readResponse?.rows">
              <clr-dg-cell *ngFor="let c of readResponse?.columns">{{row[c]}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} records
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid >

        </div>
      </div>
    </div>

    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <div class="clr-nav-header">
        <clr-icon shape="cluster" class="is-solid"></clr-icon>
        <span class="clr-nav-label">Hosts</span>
        <button type="button" class="btn btn-icon btn-sm refresh-btn btn-link" aria-label="Refresh" (click)="fetchCurrentMembers()">
          <clr-icon shape="sync"></clr-icon>
        </button>
      </div>

      <a clrVerticalNavLink *ngFor="let host of hosts">
        {{host.ip}}:{{host.port}} <span *ngIf="host.isLeader" class="badge badge-warning leader-badge">Leader</span>
      </a>

      <div class="nav-divider"></div>

      <div class="clr-nav-header">
        <clr-icon shape="data-cluster" class="is-solid"></clr-icon>
        <span class="clr-nav-label">Tables</span>
        <button type="button" class="btn btn-icon btn-sm refresh-btn btn-link" aria-label="Refresh" (click)="fetchTablesInDatabase()">
          <clr-icon shape="sync"></clr-icon>
        </button>
      </div>

      <a clrVerticalNavLink *ngFor="let table of tables">{{table}}</a>

      <div class="nav-divider"></div>
    </clr-vertical-nav>
  </div>
  <app-configure #configureModel></app-configure>
</clr-main-container>
