<header class="header-6">
  <div class="branding">
    <div>
      <clr-icon shape="container-volume" class="is-solid"></clr-icon>
      <span class="title">DSqlite</span>
    </div>
  </div>
  <div class="header-actions">
      <a class="nav-link nav-icon-text" (click)="configureActionClicked()">
        <clr-icon class="is-solid" shape="plus-circle"></clr-icon>
        <span class="nav-text">Configure</span>
      </a>
  </div>
</header>
